<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bad Request</title>
<link rel="stylesheet" href="../public/css/400.css">
</head>
<body>

	<div class="noise"></div>
	<div class="overlay"></div>
	<div class="terminal">
		<h1>
			Error <span class="errorcode">400</span>
		</h1>
		<p class="output">You are sending a bad request, or The page you are looking for might have been
			removed, had its name changed or is temporarily unavailable.</p>
		<p class="output">
			Please try to <a href="#1">go back</a> or <a href="#2">return to
				the homepage</a>.
		</p>
		<p class="output">Good luck.</p>
	</div>


</body>
</html>