<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Login V1</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	th:src="@{/public/public/images/icons/favicon.ico}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/public/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/public/vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/public/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/public/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/public/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/public/css/main.css}">
<link rel='shortcut icon' type='image/x-icon' th:href="@{/public/images/icons/favicon.ico}" />
<!--===============================================================================================-->
</head>
<body>


	<!--   <div style="text-align: right; padding:5px; margin:5px 0px; background:#ccc;">
         <a th:href="@{/login?lang=en}">Login (English)</a> &nbsp;|&nbsp;
         <a th:href="@{/login?lang=fr}">Login (French)</a> &nbsp;|&nbsp;
         <a th:href="@{/login?lang=jp}">Login (Japanese)</a> &nbsp;|&nbsp;
         <a th:href="@{/login?lang=th}">Login (Thai)</a> &nbsp;|&nbsp;
         <a th:href="@{/login?lang=vi}">Login (Vietnamese)</a>
      </div>
-->

	<div class="limiter">
		<div class="container-login100">
			<div style="height: 700px" class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img th:src="@{/public/images/img-01.png}" alt="IMG">
				</div>

				<form class="login100-form" th:action="@{/login}" method="POST">
					<span class="login100-form-title"> ADMIN Login </span>
					
					<div class="wrap-input100">
						<!-- data-validate = "Valid email is required: ex@abc.xyz" -->

						<input class="input100" type="text" id="username" name="username" placeholder="Username"> <span class="focus-input100"></span>

						<span class="symbol-input100"> <i class="fa fa-envelope"
							aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100" >

						<input class="input100" type="password" id="password" name="password" placeholder="Password"> <span class="focus-input100"></span>

						<span class="symbol-input100"> <i class="fa fa-lock"
							aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<!-- 						<button class="login100-form-btn"> -->
						<!-- 							Login -->
						<!-- 						</button> -->

						<input type="submit"  value="Login"

							class="login100-form-btn">
					</div><br/>
					<h6 style="color: red; text-align: center; font-style: Georgia " th:text="${message}"></h6>
<!-- 					<h6 style="color: red; text-align: center; font-style: Georgia" th:text="${error}"></h6> -->
<!-- 					<div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"> -->
<!-- 					    <p class="text-danger" th:text="${errorMsg}">[[${errorMsg}]]</p> -->
<!-- 					</div> -->
					<div th:if="${param.error}">
					    <h6 style="color: red; text-align: center; font-style: Georgia ">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h6>
					</div>
					<!-- 
					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div> -->

					<!-- <div class="text-center p-t-136">
						<a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script th:src="@{/public/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/public/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/public/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/public/vendor/select2/select2.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/public/vendor/tilt/tilt.jquery.min.js}"></script>
	<script>
		$('.js-tilt').tilt({
			scale : 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/public/js/main.js}"></script>

</body>
</html>